---
import AbilityModalBox from './AbilityModalBox.astro';

const { pkmn } = Astro.props

---
<div class="card bg-base-200 text-neutral-content border-base-300 rounded-box border">
    <div class="card-body p-[15px]">
        <ul class="list">
            <li class="px-4 pb-2 text-xs opacity-60 tracking-wide">Abilities</li>
            {pkmn.abilities.filter((ability: any) => ability.name.trim() !== "").map( (ability:any, i: any) => {
                const modalId = (`ability${pkmn["Species Name"].replaceAll("-","")}${i}`)                
                return (
                <li class="list-row hover:bg-base-300 py-2 cursor-pointer" onclick={`${modalId}.showModal()`}>
                    <div class="list-col-grow mr-[40px]">
                        <div>{ability.name}</div>
                        <div class="text-xs font-thin">{ability.type}</div>
                    </div>                 
                    <AbilityModalBox modalId={ modalId} abilityName = { ability.name } />
                </li>
                )
            })}
        </ul>
    </div>
</div>