---
const { abilityName, modalId } = Astro.props

import { getAbility, getAbilityEffect } from '../../../functions/ability.ts';

function nl2br(text: string) {
  return text.replace(/\n/g, '<br>');
}

let data = getAbility(abilityName);

if(!data) {
    console.log("Missing ability:" + abilityName);
}

---
<dialog id={modalId} class="modal">
    <div class="modal-box">
        <form method="dialog">
            <button class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 z-50">✕</button>
        </form>
        <div class="card border-1 border-base-300 bg-base-200">
            <div class="card-body p-2">
                <div class="w-full text-center text-lg font-semibold tracking-wide">{abilityName}</div>
            </div>
        </div>       
         <div class="card border-1 border-base-300 bg-base-200 mt-2">
            <div class="card-body p-4">
                {data && data["Frequency"] && <div>
                    <span class="font-semibold">Frequency </span> - {nl2br(data["Frequency"])}
                </div>}
                <div set:html={nl2br(getAbilityEffect(data))}></div>
            </div>
        </div>       
    </div>
    <form method="dialog" class="modal-backdrop">
        <button>close</button>
    </form>
</dialog>