---
import AbilityModalBox from './AbilityModalBox.astro';

import { getPkmnAbilities } from '../../../functions/pokemon.ts';

const { pkmn } = Astro.props

let abs = getPkmnAbilities(pkmn["Species Name"]) as unknown as Record<string, string>
---
<div class="card bg-base-200 text-neutral-content border-base-300 rounded-box border">
    <div class="card-body p-[15px]">
        <ul class="list">
            <li class="px-4 pb-2 text-xs opacity-60 tracking-wide">Abilities</li>
            {[...Array(6).keys()].map(i => {
                const typeKey = (`type${i + 1}`)
                const abilityKey = (`ability${i + 1}`)
                const modalId = (`ability${pkmn["Species Name"].replaceAll("-","")}${i}`)
                if (abs && abs[typeKey] && abs[abilityKey]) {
                    return (
                        <li class="list-row hover:bg-base-300 py-2 cursor-pointer" onclick={`${modalId}.showModal()`}>
                            <div class="list-col-grow mr-[10px]">
                                <div>{abs[abilityKey]}</div>
                                <div class="text-xs font-thin">{abs[typeKey]}</div>
                            </div>                 
                            <AbilityModalBox modalId={ modalId} abilityName = { abs[abilityKey] } />
                        </li>
                    );
                }
                return null;
            })}
        </ul>
    </div>
</div>