---
---
<div class="card bg-base-200 border-1 border-base-300 mb-2">
    <div class="card-body text-xs p-2">
        <h2 class="card-title text-sm font-semibold">Legend</h2>
        <div class="flex gap-6">
            <div><span class="text-pkb-red">Move name</span> - Signature move</div>
            <div><span class="text-pkb-red">Type</span> - STAB move (+2 DB)</div>
            <div><span class="font-semibold">(N)</span> - Natural Tutor Move</div>
        </div>
    </div>
</div>