---
import { calculateBST } from '../../functions/pokemon.ts';

const { pkmn } = Astro.props;

const pkmnName = pkmn.display_name ? pkmn.display_name : pkmn["Species Name"]

---
<a class="pkmn-container" href={`/hyaku-dex/pkmn/${pkmn["Species Name"]}`}
data-name={pkmn["Species Name"]} 
data-alt-name={pkmnName}
data-bst={calculateBST(pkmn)}
data-t1={pkmn["Type1"]} 
data-t2={pkmn["Type2"]}
data-ab1={pkmn.abilities[0]["name"]}
data-ab2={pkmn.abilities[1]["name"]}
data-ab3={pkmn.abilities[2]["name"]}
data-ab4={pkmn.abilities[3]["name"]}
data-ab5={pkmn.abilities[4]["name"]}
data-ab6={pkmn.abilities[5]["name"]}>
    <slot />
</a>