---
import DexCardFilterLink from "./DexCardFilterLink.astro";
import DexCardImg from "./DexCardImg.astro";
import DexCardData from "./DexCardData.astro";

import { getTypeColor } from '../../functions/type.ts';

const { pkmn } = Astro.props;

const typeColor = getTypeColor(pkmn["Type1"]).color
 
---
<DexCardFilterLink pkmn={pkmn}>
    <div class="flex gap-3 w-[300px] bg-base-200 border-base-300 rounded-sm p-[10px] opacity-85 hover:opacity-100 transition-all duration-200 ease-in-out        hover:border-pkb-red border-1">
        <DexCardImg pkmn={ pkmn } />
        <DexCardData pkmn={ pkmn} />
    </div>
</DexCardFilterLink>
    