---
import Layout from '../layouts/Layout.astro';

import HomebrewAlert from '../components/dex/HomebrewAlert.astro';

import DexFilters from '../components/dex/filters/DexFilters.astro';
import DexCard from '../components/dex/dexcard/DexCard.astro'; 

import FilterScript from "../components/dex/filters/FilterScript.astro";

import { listPkmn } from '../components/functions/pokemon.ts';

---
<Layout>
    <div class="p-[25px] w-full flex flex-wrap gap-4">
        <HomebrewAlert />
        <DexFilters/>   
        <div id="pokemonList" class="w-full flex flex-wrap justify-center gap-[20px]">
            {listPkmn().map((pkmn: any) => {
                return (
                    <DexCard pkmn={pkmn} />
                )
            } )}
        </div>  
    </div>
    <FilterScript />
</Layout>

