---
import BasicData from '../data/basic_data.json';
import Layout from "../layouts/Layout.astro";
import SearchFilters from '../components/dex/SearchFilters.astro';
import PokemonListCard from '../components/dex/PokemonListCard.astro'; 
import CheckDataConsistency from '../components/utils/CheckDataConsistency.astro';
---
<Layout>
    <CheckDataConsistency />
    <div class="p-[25px]">
        <SearchFilters/>
        <div id="pokemonList" class="flex flex-wrap justify-center gap-[20px]">
            {BasicData.map(pkmn => {
                return (
                    <PokemonListCard pkmn={pkmn} />
                )
            } )}
        </div>  
    </div>
</Layout>