---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';

import HyakuDexLogo from '../assets/logo.png';
import FilterByType from '../components/dex/sidebar/FilterByType.astro';
import FilterByAbility from '../components/dex/sidebar/FilterByAbility.astro';

import FilterByName from '../components/dex/FilterByName.astro';
import DexCard from '../components/dex/dexcard/DexCard.astro'; 

import FilterScript from "../components/dex/FilterScript.astro";

import { listPkmn } from '../components/functions/pokemon.ts';

---
<Layout>
    <div class="drawer lg:drawer-open">
    <input id="my-drawer-2" type="checkbox" class="drawer-toggle" />
    <div class="drawer-content flex flex-col items-center justify-top">
        <label for="my-drawer-2" class="btn btn-outline drawer-button mt-[10px] lg:hidden border-2 border-pkb-red hover:bg-pkb-red">
        Open filters
        </label>
        <div class="p-[25px] w-full flex flex-wrap gap-4">
            <FilterByName/>
            <div id="pokemonList" class="w-full flex flex-wrap justify-center gap-[20px]">
                {listPkmn().map((pkmn: any) => {
                    return (
                        <DexCard pkmn={pkmn} />
                    )
                } )}
            </div>  
        </div>
    </div>
    <div class="drawer-side">
        <label for="my-drawer-2" aria-label="close sidebar" class="drawer-overlay"></label>
        <ul class="menu bg-base-200 text-base-content min-h-full w-64 p-4">
            <li class="menu-title">
                <Image 
                    src={HyakuDexLogo}
                    alt="logo"
                    decoding="async"
                    loading="lazy"
                />
            </li>
            <li class="menu-title">Filters</li>
            <!-- Sidebar content here -->
            <li>
                <details>
                    <summary>Types</summary>
                    <FilterByType />
                </details>
            </li>
            <li>
                <details>
                    <summary>Ability</summary>
                    <FilterByAbility />
                </details>
            </li>
        </ul>
    </div>
    </div>
    <FilterScript />
</Layout>

