---
import { listAbilities } from '../../functions/ability.ts';
---

<div class="card bg-base-300 mt-2">
    <div id="typeFilters" class="card-body flex-wrap p-2">
        <input 
            id="abilityInput" 
            type="text" 
            class="w-full input transition-all duration-300 ease-in-out
            hover:outline-0 hover:border-pkb-red
            focus:outline-0 focus:border-pkb-red" 
            placeholder="Static" 
            list="abilities" />
        <datalist id="abilities">
            { listAbilities().map( (ability: any) => (
                <option value={ability.Name}>{ability.Name}</option>
            ) ) }
        </datalist>
    </div>
</div>
