---
import { getBSTLimits } from '../../functions/pokemon.ts';

const bst = getBSTLimits();
---
<div id="bstFilter" class="card bg-base-300 mt-2">
    <div class="card-body p-2">
        <label class="input">
            <span class="label">Min</span>
            <input id="minBstQuery" type="number" placeholder={bst.min} value={bst.min}/>
        </label>
        <label class="input">
            <span class="label">Max</span>
            <input id="maxBstQuery" type="number" placeholder={bst.max} value={bst.max} />
        </label>
    </div>
</div>
