---
const {stat, value} = Astro.props
---
<div class="w-[95px] h-[40px] bg-base-100 border-1 border-pkb-red flex rounded-box items-center px-[10px]">        
        <div class="w-[55px] font-thin tracking-wide text-sm">{stat}</div>  
        <div class="font-bold flex-1 text-pkb-red text-right">{value}0</div>
</div>